body {
	background-color: #333;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 800px;
	margin: 100px auto;
	padding: 30px;
	border-radius: 10px;
	background-color: #222;
	color: #ddd;
}

.title {
	text-align: center;
	font-size: 2em;
}

.text {
	text-align: center;
	margin-bottom: 20px;
}

.buttons {
	display: flex;
	justify-content: center;
}

button {
	background-color: rgb(150, 86, 206); /* Updated button color */
	color: black; /* Updated text color */
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin: 0 10px;
}

.info-container {
	margin-top: 30px;
	padding: 20px;
	border-radius: 10px;
	background-color: #444;
	color: #ddd;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.info-text {
	text-align: center;
}

.info-container.active {
	opacity: 1;
}
